<div class="modal-header">
    <h4 class="modal-title">View Payment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>User/UserID</label>
                <input type="text" class="form-control" placeholder="Payed by" [disabled]="true"
                       [(ngModel)]="data.user">
            </fieldset>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" placeholder="Amount" [disabled]="true"
                       [(ngModel)]="data.amount">
            </fieldset>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Reference Code</label>
                <input type="text" class="form-control" placeholder="Bank Reference Code" [disabled]="true"
                       [(ngModel)]="data.reference_code">
            </fieldset>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Payment Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="data.created_at"
                           [disabled]="true">

                </div>
            </fieldset>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Type</label>
                <select class="form-control" [(ngModel)]="data.type" [disabled]="true">
                    <option value="2">Expenses</option>
                    <option value="1">Income</option>
                </select>
            </fieldset>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Status</label>
                <select class="form-control" [(ngModel)]="data.status" [disabled]="true">
                    <option value="1">Successful</option>
                    <option value="2">Pending</option>
                    <option value="3">Unsuccessful</option>
                </select>
            </fieldset>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Description</label>
                <textarea rows="4" type="text" class="form-control" placeholder="Keep it short!" [disabled]="true"
                          [(ngModel)]="data.description"></textarea>
            </fieldset>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-raised"
            (click)="activeModal.close('Close click')">Close
    </button>
</div>
