<div class="modal-header">
    <h4 class="modal-title">View Master</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email Address" [disabled]="isLoading"
                       [(ngModel)]="data.email">
            </fieldset>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" [disabled]="isLoading"
                       [(ngModel)]="data.username">
            </fieldset>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="Password" [disabled]="isLoading"
                       [(ngModel)]="data.password">
            </fieldset>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Due Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="data.due_date"
                           [disabled]="isLoading">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <label>Notes</label>
                <textarea rows="4" type="text" class="form-control" placeholder="Any note ..." [disabled]="isLoading"
                          [(ngModel)]="data.note"></textarea>
            </fieldset>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <table class="table table-responsive-md text-center">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Package</th>
                    <th>Created At</th>
                    <th>Expires In</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Full Name</th>
                    <th>Status</th>
                    <!--                    <th>Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of accounts" [class.danger]="item.status != 1">
                    <td>{{item.id}}</td>
                    <td>{{item.package}}</td>
                    <td>{{formatDate(item.created_at)}}</td>
                    <td>{{item.expires_at}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.fullname}}</td>
                    <td>{{getStatusTitle(item.status)}}</td>
                    <!--                    <td>-->
                    <!--                        <a class="info p-0" data-original-title="" title="">-->
                    <!--                            <i class="ft-user font-medium-3 mr-2"></i>-->
                    <!--                        </a>-->
                    <!--                        <a class="success p-0" data-original-title="" title="">-->
                    <!--                            <i class="ft-edit-2 font-medium-3 mr-2"></i>-->
                    <!--                        </a>-->
                    <!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-raised" [disabled]="isLoading"
            (click)="activeModal.close('Close click')">Close
    </button>
</div>
